#root {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    display: flex;
}
.display {
    margin-top: 60px;
    margin-bottom: 1rem;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .logo-container {
      width: 3rem;
      height: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 5px;
    }

.App {
    height: 45rem;
    width: 70%;
    margin: 0px;
    justify-content: left;
}

button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.special-parent button {
    background-color: rgb(97, 97, 199);
    text-align: center;
    box-shadow: 2px 2px #322c2d;
    line-height: 3px;
    margin: 15px;
    padding: 3rem;
    
}

.number-parent button {
    background-color: rgb(34, 34, 194);
    text-align: center;
    box-shadow: 2px 2px #322c2d;
    line-height: 3px;
    padding: 3rem;
    margin: 15px;
}

.right button {
    background-color: rgb(97, 97, 199);
    text-align: center;
    line-height: 3px;
    box-shadow: 2px 2px #322c2d;
    font-size: 30px;
    padding: 3rem;
    margin: 15px;
    color:white;
}

.special-parent {
    width: 100%;
    display: flex;
    align-content: center;
    font-size: 30px;
    color: white;
}

.number-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    color: white;
}

.operator-parent {
    border: 1px solid green;
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
    margin-top: 10.75rem;
    margin-right: 15rem;

}


